In [2]:
#con la almohadilla hacemos un comentario, es una linea de codigo que no se ejecutA
#Jupiter lab, se puede ejecutar por celdas, se ejecuta bien con run o con la 
#combinacion de teclas shift+enter

In [3]:
#vamos a empezar por ver una varibale u objeto en Python
#un objeto que almacena temporalmente un valor, en puython las
#variables no se declaran , se les asigna un valor 
x=5

In [4]:
#como ver la salida de un objeto ovariable
x

5

In [5]:
#0 con la funcion print(x), me imprime el valor x, todas las funciones 
#necesitan despues del nombre los parentesis de apertura y de cierre, dentro
#van los parametros, que son los valores que yo le paso a la funcion
print(x)

5

In [6]:
#No es lo mismo x que X
X=10
print(x+X)

15

In [7]:
#Como asignar una variable tipo text
z="Juan"
print(z)

Juan

In [9]:
#Como podemos componer un texto con print
print("mi nombre es " + z)

mi nombre es Juan

In [12]:
#No podemos concatenar texto entre comillas con un numero
#como solucion podemos utilizar la funcion str() que convierte
#un numero a texto
print("El valor de x es " + str(x))

El valor de x es 5

In [17]:
#Para convertirlo directamente
x = str(x)
#Para volver a convertirlo a numero con funcion int()
#lo convierto a numero entero
x = int(x)
#si los quiero convertir a decimal float ()
x = float(x)

In [18]:
x + X

15.0

In [24]:
#como incremetar una variable
x = x+1
int(x)
#otra manera de incrementar una variable
x+=1

In [25]:
x

11.0

In [26]:
print(z*3)

JuanJuanJuan

In [28]:
#las listas en Python, son variables que almacenan varios elementos
#son heterogeneas(pueden contener diferentes tipos de valor, numero, texto, etc..)
#abriendo y cerrando corchetes
Lista = ["carne", "huevos", 5, "Leche", 10, "Ensalada", x]
print(Lista)

['carne', 'huevos', 5, 'Leche', 10, 'Ensalada', 11.0]

In [29]:
#como acceder a un elemento de la lista, mediante su indice
#el primer elemento es el indice 0
Lista[0]

'carne'

In [33]:
#una funcion llamada Len, que nos da el numero de elementos
#de una lista o de una variable
print(len(Lista))
len(z)

7

4

In [34]:
#como anadir un elemento a una lista, con append(va al final)
Lista.append("Pan")
Lista

['carne', 'huevos', 5, 'Leche', 10, 'Ensalada', 11.0, 'Pan']

In [36]:
#como insertar un elemento a una lista, hay que indicarle la posicion
Lista.insert(1, "nutella")
Lista

['carne',
 'nutella',
 'nutella',
 'huevos',
 5,
 'Leche',
 10,
 'Ensalada',
 11.0,
 'Pan']

In [37]:
#como eliminar un elemento de una list, su primera aparicion
Lista.remove("Leche")
Lista

['carne', 'nutella', 'nutella', 'huevos', 5, 10, 'Ensalada', 11.0, 'Pan']

In [38]:
#en python las comillas pueden ser simples o dobles
Lista.append('ensalada')
Lista

['carne',
 'nutella',
 'nutella',
 'huevos',
 5,
 10,
 'Ensalada',
 11.0,
 'Pan',
 'ensalada']

In [40]:
#ver numero de veces repetido un valor
Lista.count('nutella')

2

In [46]:
#Practica 1:
#crear una lista llamada semana que contenga los dias de lunes a viernes
#menos el miercoles, despues anadir el sabado y elñ domingo
#insertar el miercoles en su lugar correspondiente, anadir tmb el jueves
#y contar cuantas veces aparece jueves, finalmente eliminar el martes

semana = ['lunes', 'martes', 'jueves', 'viernes']
semana.append('sabado')
print(semana)
semana.append('domingo')
print(semana)
semana.insert(2, 'miercoles')
semana.append('jueves')
print(semana)
print( "El numero de veces que esta repetido jueves es " + str(semana.count('jueves')))
semana.remove('martes')
print(semana)

['lunes', 'martes', 'jueves', 'viernes', 'sabado']
['lunes', 'martes', 'jueves', 'viernes', 'sabado', 'domingo']
['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo', 'jueves']
El numero de veces que esta repetido jueves es 2
['lunes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo', 'jueves']

In [48]:
#funciones de resumen con listas numericas
pares=[0,2,4,6,8,10]

In [49]:
#para ver el valor mas grande , funcion max()
max(pares)

10

In [50]:
#para ver el valor mas pequeno , funcion min()
min(pares)

0

In [51]:
#para sumar los valores de la lista
sum(pares)

30

In [78]:
#una funcion para substituit un texto, con la funcion replace
frase = "Hoy es dia 13 de marzo"
frase

'Hoy es dia 13 de marzo'

In [79]:
print(frase.replace('marzo','mayo'))

Hoy es dia 13 de mayo

In [80]:
#Poner un texto en mayusculas con upper"
frase = frase.upper()
frase

'HOY ES DIA 13 DE MARZO'

In [81]:
#Poner el texto en minuscula
print(frase.lower())

hoy es dia 13 de marzo

In [85]:
#una funcion llamada range que genera numeros
q = range(15)
#con list vemos una lista
list(q)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [86]:
#vamos a crear funciones personalizadascon Python
#primero la palabra clave def
#segundo el nombre de la funcion(sin espacios en blanco, ni caracteres especiales)
#tercero el parentesis de apertura(dentro los parametros)
#cuarto el parentesis de cierre y depues : (2puuntos)
#el codigo que esta dentro de la funcion tiene que ir identado (4 espacios a la derecha)

In [92]:
def suma10(w,e):
    return w+e+10

#aqui termina la funcion cuando la linea regresa a la primera columna

In [93]:
#vamos a llamar a la funcion
suma10(55, 20)

85

In [94]:
#practica 1, crear la funcion area del triangulo, para que nos de el area si le indicamos base y altura
#practica 2, crear funcion dimetunombre, para que nos de un text, tu nombre es aa y tu apellido bb, indicamos por serado nombre y apellido

In [95]:
def areatriangulo(a, b):
    return a*b /2

In [119]:
def dimetunombre(a, b):
    texto =  "tu nombre es " + a + " y tu apellido " + b
    return(texto.upper())

In [102]:
areatriangulo(10,20)

100.0

In [120]:
dimetunombre('bla', 'ble')

'TU NOMBRE ES BLA Y TU APELLIDO BLE'

In [112]:
areatriangulo(a=20, b=40)

400.0

In [131]:
#vamos a ver los bucles en python
#un bucle es un codigo que se repite hasta que se cumple una condicion dada"
#los bucles son de dos tipos, finitos e infinitos
#los finitos van a terminar si o si, ya que conocemos el numero de iteraciones que tendra
#el numero de iteraciones que tendra , utilizaremos el bucle for
#los infinitos que puede que terminen o no(no terminan si no se cumple la cndicion)
ite = 1
for i in semana:
    print('El dia '+ str(ite)+ " de la semana es " + str(i))
    ite += 1

El dia 1 de la semana es lunes
El dia 2 de la semana es miercoles
El dia 3 de la semana es jueves
El dia 4 de la semana es viernes
El dia 5 de la semana es sabado
El dia 6 de la semana es domingo
El dia 7 de la semana es jueves

In [134]:
#practica 1 mediante un bucle y una lista llamada semestre (que contendra los meses de enero a junio), ver un texto que ponga "el 1 mes es enero"
#practica 2 mediante un bucle imprimir un letrero con los numeros del 0 al 20 que ponga el numero es x 


mes = 1
semestre = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio']
for i in semestre:
    print('el '+ str(mes) + ' mes es ' + str(i))
    mes += 1

el 1 mes es enero
el 2 mes es febrero
el 3 mes es marzo
el 4 mes es abril
el 5 mes es mayo
el 6 mes es junio

In [138]:
numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] 
for i in range(20):
    print ('el numero es ' + str(i+1))

el numero es 1
el numero es 2
el numero es 3
el numero es 4
el numero es 5
el numero es 6
el numero es 7
el numero es 8
el numero es 9
el numero es 10
el numero es 11
el numero es 12
el numero es 13
el numero es 14
el numero es 15
el numero es 16
el numero es 17
el numero es 18
el numero es 19
el numero es 20

In [139]:
#estructura de decision if, analiza una condicion, y si se cumple ejecuta una parte verdadera, que significa analizar una condicion, comparar 2 valores mediante un operador de comparacion (siempre devolvera true or false)
#> mayor que 5>4 = verdadero
#<menor que 5<7 = verdadero
#>= mayor igual
#<= menor o igual
# == estrictamente igual 
# != distinto o diferente

In [142]:
edad =40
if edad < 65:
    print("en activo")

en activo